.top-bar {
  color: #515151;
  padding: 15px;
  display: grid;
  grid-template-columns: 1% 20% 1fr 10%; /* First and last columns take 10%, middle column takes the remaining space */
  gap: 10px; /* Adjust the gap between items */
  padding: 20px;
  align-items: center;
  height: 6vh;
}
