body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
}

.container {
  display: grid;
  grid-template-columns: 0.4fr 3fr 0.1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: dense;
  grid-template-areas:
    "header header header"
    "MainContent-sidebar main-content main-content";
  height: 100vh;
}
.container-close{
  display: grid;
  grid-template-columns: 0.4fr 3fr 0.1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: dense;
  grid-template-areas:
    "header header header"
    "main-content main-content main-content";
  height: 100vh;
}

.MainContent-sidebar {
  grid-area: MainContent-sidebar;
  height: calc(100vh -7vh);
}

.header {
  grid-area: header;
  height: 7vh;
}

.main-content {
  grid-area: main-content;
  margin-top: 10px;
  padding: 10px;
  overflow-y: scroll;
  max-height: calc(100vh - 10vh);
}

  
  
